@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Yantramanav:wght@100;400;700;900&display=swap');

:root {
    --main-color: #2EB340;
    --secondary-color: #FF5C87;
    --light-color: #5DFF72;
    --mobile-menu-bg: #2EB340;
    --bg-hf: #0b1f00;

    --main-font: 'Yantramanav', sans-serif;
    --secondary-font: 'Cabin Sketch', cursive;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    min-height: 100vh;

    line-height: 1.6;
    animation: loadingPage 0.8s linear;
}
@keyframes loadingPage {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
section {
    width: 100%;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: var(--secondary-font);
    color: #000;
    text-align: center;
    font-weight: 900;
}
h1{
    color: #000;
    font-size: 32px;
}
h2 {
    font-size: 28px;
    position: relative;
}
h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25px;
    border-bottom: 4px solid #000;
    border-radius: 25px;
}
h2.dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25px;
    border-bottom: 4px solid #000;
    border-radius: 25px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
}
p {
    color: #000;
    font-size: 18px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    transition: opacity 0.3s ease-in;
}
li {
    list-style-type: none;
}
hr {
    display: block;
    margin: 1.2em auto;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    width: 50%;
}
header{
    position: relative;
    width: 100%;
    background: var(--main-color);
    font-family: var(--secondary-font);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.6em 0;
    color: #fff;
}
.header ul {
    display: none;
}
@media (min-width: 768px) {
    .header ul {
        padding: 0.4em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5em;
    }
}
.header ul li{
    color: #000;
}
.header ul li a {
    transition: 0.5s;
    color: #fff;
}
.header ul li a:hover{
    cursor: pointer;
    color: var(--secondary-color);
}
.header-social {
    display: flex;
    gap: 1em;
}
/* MENU MOBILE */
.header-mobile {
    padding: 6em 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    background: var(--mobile-menu-bg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    transition: 1s;
}
@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
}
.header-mobile ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;

}
.header-mobile ul li a{
    font-size: 28px;
}
.header-mobile ul li a:hover{
    color: var(--secondary-color);
}
.header-mobile-social {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.hidden-mobile {
    left: -100%;
    right: 100%;
}
footer{
    position: relative;
    width: 100%;
    background: var(--main-color);
    font-family: var(--secondary-font);
    padding: 1em 0;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 1em 0;
    color: #fff;
}
.footer li a {
    font-size: 16px;
    color: #fff;
}
@media (min-width: 768px) {
    .footer {
        padding: 2em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5em;
    }
    .footer li a {
        font-size: 22px;
    }
}
.footer li{
    color: #000;

}

.footer li a:hover{
    cursor: pointer;
    color: var(--secondary-color);
}
.footer-social {
    display: flex;
    gap: 1em;
}
/* MENU MOBILE */
.footer-mobile {
    padding: 6em 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    background: var(--main-color);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    transition: 1s;
}
@media (min-width: 768px) {
    .footer-mobile {
        display: none;
    }
}
.footer-mobile ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;

}
.footer-mobile ul li a{
    font-size: 28px;
}
.footer-mobile-social {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.copy {
    font-family: var(--main-font);
    color: #fff;
    text-align: center;
}
@media (min-width: 768px) {
    .copy {
        text-align: start;
    }
}

/* WAVES */

.wave-up {
    outline: none;
    border: none;
    margin: -1px 0 0 0;
}
.wave-down {
    outline: none;
    border: none;
    margin: 0 0 -1px 0;
}


/* FONT AWESOME */
i {
    transition: 0.3s ease-in;
}
i:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
header i {
    color: #fff;
}

.fa-bars {
    display: flex;
    justify-content: end;
    font-size: 50px;
    padding: 20px;
}
.fa-times {
    display: flex;
    justify-content: end;
    font-size: 50px;
    padding: 20px;
}
@media (min-width: 768px) {
    .fa-bars {
        display: none;
    }
    .fa-times {
        display: none;
    }
}
main {
    width: 100%;
}
img {
    width: 100%;
    display: block;
}
.logo {
    border: 1px solid #fff;
    border-radius: 5px;
    outline: 3px solid rgb(222, 241, 221);
    height: auto;
    max-width: 100px;
}
/** UTILITIES *******/
.text-center{
    text-align: center;
}
.spacing {
    padding: 1em 0;
}
.spacing-box {
    padding: 1.8em 0;
}
@media (min-width: 768px){
    .spacing-box {
        padding: 3em 0;
    }
}

.bg-dark {
    background-color: var(--main-color);
}
.text-white {
    color: #fff;
}

/** HERO **/

.hero{
    background-image: url('../img/img platja.jpeg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-top: 0;
    position: relative;
}@media (min-width: 768px) {
    .hero {
        background-position: center 80%;
        height: 50vh;
    }
}
.hero-noticia {
    background-image: url('../img/img platja.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: saturate(110%);
    width: 100%;
    height: 100px;
    margin-top: 0;
    position: relative;
}
.legend {
    display: flex;
    flex: 1;
}
/* ESTADISTIQUES */
.actions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.actions-container {
    display: flex;
    flex-direction: column;
    column-gap: 0.4em;
}
.actions-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    border-radius: 50px;
    padding: 0.6em;
}
@media (min-width: 768px) {
    .actions-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .actions-counter {
        padding: 1em;
    }
}
.actions-counter span,
.actions-counter h3 {
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--light-color);
    font-size: 18px;
}
.num {
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
    color: #fff;
}
@media (min-width: 768px) {
    .num {
        font-size: 32px;
    }
    .actions-counter span {
        font-size: 24px;
    }
}
.actions-terms {
    text-align: center;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    border-radius: 50px;
  
}
.actions-terms a {
    font-size: 18px;
    text-decoration: underline;
    transition: color 0.4s ease;
}
.actions-terms a:hover {
    color: var(--secondary-color);
}


/* CLUBS */
.clubs-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    place-items: center;
    margin: 0 2em;
}
@media (min-width: 768px){
    .clubs-logos {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* POSICIONAMIENTO LOGOS CLUBS I ENTITATS */
.clubs-logos img:nth-child(1){
    padding: 1em;
}


.draggable-list {
    color: var(--bg-hf);
    padding: 0;
    list-style-type: none;
    width: 100%;

}
.draggable-list li {
    display: flex;
    flex: 1;
}

.draggable-list li{
    border-bottom: 3px solid var(--secondary-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
}

.draggable-list .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 75px;
    color: var(--bg-hf);
}
.draggable-list li.over .draggable {
    background-color: #eaeaea;
}

.draggable-list .person-name {
    margin: 0 20px 0 0;
    font-size: 20px;
}
.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
}

/**************** NOTICIES *****************/


.noticies-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
    padding-bottom: 2em;

    border-bottom: 2px solid #000;
}
.noticies-item-info img{
    border-radius: 5px;
}
.ultimes-noticies-item-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
    .ultimes-noticies-item-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.4em;
    }
    .noticies-item-info img{
        height: 50vh;
    }
}
.news-date {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
}
.btn {
    display: block;
    margin: 1em auto;
    width: 100%;
    padding: 0.8em;
    border: 0;
    border-bottom: 4px solid var(--main-color);
    border-top: 4px solid var(--main-color);
    border-radius: 50px;
    outline: 0;

    transition: 0.2s;
}
.btn a {
    text-align: center;
    font-size: 18px;
    font-family: var(--main-font);
    color: #000;
}
@media (min-width: 768px) {
    .btn {
        width: 75%;
        margin: 1em auto;
    }
    .btn a {
        font-size: 18px;
    }
}
.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn:active{
    transform: scale(0.95);
}

/* NORMATIVA PAGE */
.terms-ol p{
    color: #000;
}
.terms-ol-text {
    display: flex;
    align-items: center;
}
.fa-1,
.fa-2,
.fa-3 {
    text-align: center;
    color: var(--main-color);
    width: 40px;
}

/***** PROJECTE PAGE */

.faq {
    background: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.6s ease-in;
}
.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.6s ease-in;
}
.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}
.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}
.faq-title {
    margin: 0 35px 0 0;
}
.faq-text {
    display: none;
    margin: 30px 0 0;
}
.faq.active .faq-text {
    display: block;
}
.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;

    transition: 0.3s ease-in;
}
.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-xmark {
    display: none;
}
.faq.active .faq-toggle .fa-xmark {
    color: #fff;
    display: block;
}
.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}
.faq.active .faq-toggle  {
    background-color: var(--light-color);
}